.footer {
  background-color: #282c34;
  text-align: center;
  color: #fff;
  padding: 50px;
}

.footer h1 {
  font-size: 30px;
}

.social-links {
  display: inline-block;
  margin: 20px;
  text-align: center;
}

.social-links img {
  display: inline-block;
  margin: 0 20px;
}
