nav {
    display: block;
    position: relative;
    background-color:black;
    color:#999;
    height: 50px;
    line-height: 46px;
}

nav h1 {
    float: left;
    padding-left: 10px;
    font-size: 24px;
    color: #EB3656;
}

div.nav-list {
   text-align: right;
}

nav ul li {
    display: inline-block;
    padding: 0px 40px;
}   

nav ul li.active {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 3px solid #EB3656;
}
button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

nav ul li b a {
    text-decoration: none;
    color:inherit;
    cursor: pointer;
}

nav ul li b a:hover {
    color:#EB3656;
}

.Sb_btn {
    border: 2px solid  #EB3656;
    border-radius: 8px;
    list-style: none;
    font-size: 16px;
    color:#EB3656;
    margin-right:5px;
    padding:0 25px;
}

.Sb_btn:hover {
    color: #EB3656;
    border:2px solid #999;
}